<%= label :page_designer, :page_background_color, "Background color: " %>
<%= text_input :page_designer,
  :page_background_color,
  id: "background-color-picker",
  class: "page-background-color-picker",
  "phx-hook": "BackgroundColorPicker"%>
